body {
    background-color: #add4db;
    font-family: "Moderustic", serif;
    text-align: center;
}

main {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

h1, h2 {
    font-family: "Source Serif 4", serif;
    color: #236383;
}

h3{
    color: #236383;
}

p {
    color: #08252c;
}

a {
    color: #0c343d;
}

a:hover {
    color: #45818e;
}

img {
    max-width:60%;
max-height:60%;
}

.about {
    text-align: left;
}

figcaption {
    font-style: italic;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    body {
        font-size: 14px;
        padding: 10px;
    }

}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    img {
        max-width: 100%;
        height: auto;
    }
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    img {
        max-width: 100%;
        height: auto;
    }
    body{
        font-size: 18px;
    }
}

li {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #36477a;
    color: white;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tfoot {
    font-weight: bold;
}
