<p>Contact: <a href="mailto:cdry2@charlotte.edu">cdry2@charlotte.edu</a> | 
    <a href="https://www.linkedin.com/in/caleb-dry-73871b32a/" target="_blank">LinkedIn</a></p>
    <p>Designed by <a href="../gopinathandesigns.com/index.html" target="_blank">Gopinathan Designs</a> &#169; 2025</p>
    <a href="https://validator.w3.org/check?uri=referer" id="validation-link-html">
        <img src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!"></a> 
    <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation-link-css">
        <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!"></a>
       
       <script>
          document.getElementById("validation-link-html").setAttribute("href","https://validator.w3.org/check?uri=" + location.href);
               document.getElementById("validation-link-css").setAttribute("href","https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
       </script>