<h1>Mila Gopinathan's Majestic Goat &#10086; ITIS 3135</h1>
        <nav>
            <a href="./">Home</a> &#10086;
            <a href="./introduction.html">Introduction</a> &#10086;
            <a href="./contract.html">Contract</a>
        </nav>
        <nav>
            <a href="./stuff/mYpAge &1.htm">CRAPPY Webpage</a> &#9819;
            <a href="./website_evaluations.html">Website Evaluations</a> &#9819;
            <a href="./majesticgoat/index.html" target="_blank">Majestic Goat</a> &#9819;
            <a href="./hobby">Hobby</a> &#9819;
            <a href="./tables.html">HTML Tables</a> &#9819;
            <a href="./byo_intro.html">BYO Intro</a> &#9819;
            <a href="./project_overview.html">Client Project Overview</a> &#9819;
            <a href="./project/index.html" target="_blank">Client Project Site</a>
        </nav>